.hero{
    background-image: url("/Image/h_img.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
#text1{
    margin-top: 50px;
    color: aliceblue;
}
#text2{
    color: aliceblue;
}
.hero p{
    color: aliceblue;
}
.logo{
    margin-top: 220px;
}
.image{
    margin-top: 170px;
    padding-bottom: 25px;
}
.about{
    text-align: center;

}
.about h1{
    padding-top: 25px;
}
.about p{
    text-align: center;
    font-size: 21px;
    font-size: 20px;

    
}
.services{
    background-image: url("/Image/s_image.jpg");
    background-size: 100%;
    height: 360px;
    margin-top: 70px;
}
.services h1{
    text-align: center;
    color: aliceblue;
    padding-top: 110px;

}
.services p{
    text-align: center;
    color: aliceblue;
    font-size: 21px;
    padding: 10px;

}
.project h1{
    text-align: center;
}
.project img{
    
    padding-left:50px ;
    padding: 3px;
    display: inline;
    
}
.padd-5{
    padding: 7px;
    padding-left: 150px;
    text-align: center;
    font-size: 15px;
}
.PORT {
    text-align: center;

}
.fifth-section{
    background-image: url(/Image/c_image.jpg);
    background-position: center;
    background-size: cover;
}

#id {
    background-color: transparent;
}
.footing{
    text-align: center;
}
.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border-style: solid !important;
    border-color: beige;
}
    
}
.card-1 p{
padding: 5% 0;
color: white;
background-color: rgba(0, 0, 0, 0.301);
padding: 50px 10px;
font-weight: 100%;



padding-top: 30px;
border: 4px solid whitesmoke;
font-size: 1.1em;
line-height: 90%;
margin: 20% 5%;
overflow: hidden;
letter-spacing: 2px;
font-family: 'Merienda', cursive;
}
.padd {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
 }
 .padd:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
    opacity: 1;
 }

.footing img:hover {
   box-shadow: 0 0 20px rgb(0, 0, 0);
   margin: -3px;
   padding: 3px;
   background: rgb(36, 14, 14);
}

























